/*
Script generated by Aqua Data Studio 8.0.14 on Jan-27-2012 08:34:07 PM by Jason Dean (https://github.com/twelverobots)
Database: Dubbz
Schema: <All Schemas>
*/

CREATE DATABASE dubbz
GO
use dubbz;
GO
CREATE TABLE tblStream  ( 
	streamId   	varchar(50) NOT NULL,
	streamTitle	text NOT NULL,
	PRIMARY KEY(streamId)
)
GO
CREATE TABLE tblStreamEvent  ( 
	eventId       	bigint(15) AUTO_INCREMENT NOT NULL,
	streamId      	varchar(50) NOT NULL,
	eventTimestamp	timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
	diceSize      	varchar(100) NULL,
	rollValue     	int(15) NULL,
	rollGroup     	text NULL,
	chatText      	text NULL,
	chatHandle    	varchar(50) NOT NULL,
	PRIMARY KEY(eventId)
)
GO
ALTER TABLE tblStreamEvent
	ADD CONSTRAINT FK_tblStreamEvent_tblStream
	FOREIGN KEY(streamId)
	REFERENCES tblStream(streamId)
	ON DELETE NO ACTION 
	ON UPDATE NO ACTION 
GO
